@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;900&display=swap');
.title{
    font-family: 'Roboto Slab', serif;
    font-size: 22px;
}
.counter {
    padding: 1em;
}
.counter>span {
    display: block;
    margin-top: 0em;
    font-size: 45px;
}
.buttonsBlocks {
    display: flex;
}
.buttonsBlock {
    padding: 1em;
}
.appLayer{
    max-width: 50%;
    margin: auto;
    background: #282c34;
    margin-top: 5%;
}

.CounterBlock{
    flex: 50%;
}
.error{
    border: 2px solid red;
}
.white{
    color: white
}

.number>span {
    font-size: 45px;
}

.number {
    padding: 1em;
}
.button-blocks{
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
}
button:disabled{
    background: red;
    color: white;
    font-weight: bold;
    border: 2px solid red;
}